<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net461" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net461" />
  <package id="jint" version="2.10.3" targetFramework="net461" />
  <package id="log4net" version="2.0.7" targetFramework="net461" />
  <package id="NPoco" version="3.5.0" targetFramework="net461" />
  <package id="Quartz" version="2.5.0" targetFramework="net461" />
  <package id="Should" version="1.1.20" targetFramework="net461" />
</packages>