<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="container-fluid">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Xpressive.Home</h3>
                    <div class="nav navbar-nav navbar-right">
                        <div class="row date">
                            <xh-datetime></xh-datetime>
                        </div>
                    </div>
                </div>
            </div>

            <xh-playbar></xh-playbar>

            <div class="inner cover center-block">
                <div class="row" style="display: flex; align-items: center;">


                    <div class="btn-group btn-blog">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="selection"><h1><span class="glyphicon glyphicon-home"></span></h1><span>Wohnzimmer</span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-home"></span></h1><span>Wohnzimmer</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-globe"></span></h1><span>Küche</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-cutlery"></span></h1><span>Esszimmer</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-globe"></span></h1><span>WC EG</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-bed"></span></h1><span>Schlafzimmer</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-globe"></span></h1><span>Kinderzimmer</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-education"></span></h1><span>Büro</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-globe"></span></h1><span>WC OG</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <h1><span class="glyphicon glyphicon-globe"></span></h1><span>Dachgeschoss</span>
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="btn-group btn-blog">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="selection"><h1><span class="glyphicon glyphicon-lamp"></span></h1><span>Beleuchtung</span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Ein</a></li>
                            <li><a href="#">Romantik</a></li>
                            <li><a href="#">Aus</a></li>
                        </ul>
                    </div>


                    <div class="btn-group btn-blog">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="selection"><h1><span class="glyphicon glyphicon-lamp"></span></h1><span>Beleuchtung</span></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Test 00</a></li>
                            <li><a href="#">Test 01</a></li>
                            <li><a href="#">Test 02</a></li>
                            <li><a href="#">Test 03</a></li>
                            <li><a href="#">Test 04</a></li>
                            <li><a href="#">Test 05</a></li>
                            <li><a href="#">Test 06</a></li>
                            <li><a href="#">Test 07</a></li>
                            <li><a href="#">Test 08</a></li>
                            <li><a href="#">Test 09</a></li>
                            <li><a href="#">Test 10</a></li>
                            <li><a href="#">Test 11</a></li>
                            <li><a href="#">Test 12</a></li>
                            <li><a href="#">Test 13</a></li>
                            <li><a href="#">Test 14</a></li>
                            <li><a href="#">Test 15</a></li>
                            <li><a href="#">Test 16</a></li>
                            <li><a href="#">Test 17</a></li>
                        </ul>
                    </div>


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
