<div class="mastfoot">
    <div class="inner">
        <div class="row">
            <div class="col-md-4 col-xs-4 col-sm-4 center-block text-center">
                Show current song with cover and artist
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 center-block text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" style="border-radius: 50%; height: 40px; width: 40px; margin-top: 6px;">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg" style="border-radius: 50%; height: 55px; width: 55px; margin-left: 10px; margin-right: 10px;">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button type="button" class="btn btn-default" style="border-radius: 50%; height: 40px; width: 40px; margin-top: 6px;">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 center-block text-center">
                <input id="ex5" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="0" />
            </div>
        </div>
    </div>
</div>
