<div class="modal-header">
    <h3 class="modal-title">{{ caption }}</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="xName">Name</label>
        <input type="text" class="form-control" id="xName" ng-model="script.name">
    </div>
    <div class="form-group">
        <label for="xScript">Script</label>
        <input type="text" id="xScript" ng-model="script.script" uib-typeahead="s as s.name for s in scripts | filter:{name:$viewValue} | limitTo:8" class="form-control">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
