<section class="content-header">
    <h1>
        Scripts
    </h1>
</section>

<section class="content" style="min-height: 20px;">
    <button type="button" class="btn btn-default" ng-click="createScript()">
        Add Script
    </button>
</section>

<section class="content" style="min-height: 20px;">
    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 85px"></th>
                            <th>Name</th>
                        </tr>
                        <tr ng-repeat="script in scripts">
                            <td>
                                <button type="button" class="btn btn-default btn-xs btn-row-action" title="Enable" ng-click="enable(script)" ng-if="!script.isEnabled">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs btn-row-action" title="Disable" ng-click="disable(script)" ng-if="script.isEnabled">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs btn-row-action" title="Execute" ng-click="execute(script)">
                                    <span class="glyphicon glyphicon-play"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-xs btn-row-action" title="Delete" ng-click="delete(script)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                            <td ng-click="openScript(script.id)">
                                {{::script.name }}
                                <span class="label label-warning" ng-if="!script.isEnabled">disabled</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
