<section class="content-header">
    <h1>
        Script {{ script.name }}
    </h1>
</section>

<section class="content" style="min-height: 20px;">
    <button class="btn btn-default" type="button" ng-click="save()">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
    </button>

    <button class="btn btn-default" type="button" ng-click="execute()">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Execute
    </button>

    <button class="btn btn-success" type="button" ng-click="enable()" ng-if="!script.isEnabled">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enable
    </button>

    <button class="btn btn-warning" type="button" ng-click="disable()" ng-if="script.isEnabled">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Disable
    </button>
</section>

<section class="content" style="min-height: 20px;">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">

                    <div class="form-group">
                        <label for="x">Name</label>
                        <input type="text" class="form-control" id="x" ng-model="script.name">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Javascript</h3>
                </div>
                <div class="box-body">

                    <textarea ui-codemirror="{lineNumbers: true,mode: 'javascript'}" ng-model="script.javaScript"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Triggers</h3>
                    <button class="btn btn-default btn-sm" type="button" ng-click="addTrigger()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 35px"></th>
                                <th>Variable name</th>
                                <th>Current value</th>
                            </tr>
                            <tr ng-repeat="trigger in triggers">
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-row-action" title="Delete" ng-click="removeTrigger(trigger)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <td>{{::trigger.variable }}</td>
                                <td>{{ trigger.value }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Schedules</h3>
                    <button class="btn btn-default btn-sm" type="button" ng-click="addSchedule()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th style="width: 35px"></th>
                                <th>Cron tab</th>
                            </tr>
                            <tr ng-repeat="schedule in schedules">
                                <td>
                                    <button type="button" class="btn btn-default btn-xs btn-row-action" title="Delete" ng-click="removeSchedule(schedule)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <td>{{::schedule.cronTab}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>
