<section class="content-header">
    <h1>
        Script {{ script.name }}
    </h1>
</section>

<section class="content" style="min-height: 20px;">
    <button class="btn btn-default" type="button" ng-click="save()">Save</button>
</section>

<section class="content" style="min-height: 20px;">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">

                    <div class="form-group">
                        <label for="x">Name</label>
                        <input type="text" class="form-control" id="x" ng-model="script.name">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Javascript</h3>
                </div>
                <div class="box-body">

                    <textarea ui-codemirror="{lineNumbers: true,mode: 'javascript'}" ng-model="script.javaScript"></textarea>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Triggers</h3>
                    <button class="btn btn-default btn-sm" type="button" ng-click="addTrigger()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="box-body">

                    tabelle

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Schedules</h3>
                    <button class="btn btn-default btn-sm" type="button" ng-click="addSchedule()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="box-body">

                    tabelle

                </div>
            </div>
        </div>
    </div>

</section>
