
.SonosIcon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-top: 21px;
}

.SonosIcon_S1,
.SonosIcon_S12 {
    background: url("./Sonos/S1.png");
}

.SonosIcon_S3 {
    background: url("./Sonos/S3.png");
}

.SonosIcon_ZP90 {
    background: url("./Sonos/ZP90.png");
}

.mystrom_icon {
    display: inline-block;
    background: url("./mystrom.png");
    width: 75px;
    height: 75px;
    margin-top: 7px;
}

.PhilipsHueIcon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.PhilipsHueIcon_LCT003 {
    background: url("./PhilipsHue/gu10.svg");
}

.PhilipsHueIcon_LLC020 {
    background: url("./PhilipsHue/go.svg");
}

.PhilipsHueIcon_LST001,
.PhilipsHueIcon_LST002 {
    background: url("./PhilipsHue/lightstrip.svg");
}

.PhilipsHueIcon_LWB004,
.PhilipsHueIcon_LWB006,
.PhilipsHueIcon_LTW001,
.PhilipsHueIcon_LTW010,
.PhilipsHueIcon_LTW004,
.PhilipsHueIcon_LTW015,
.PhilipsHueIcon_LCT001,
.PhilipsHueIcon_LCT010,
.PhilipsHueIcon_LCT014,
.PhilipsHueIcon_LCT007 {
    background: url("./PhilipsHue/white_and_color_e27.svg");
}

.PhilipsHueIcon_LWB014,
.PhilipsHueIcon_LWB010 {
    background: url("./PhilipsHue/white_e27.svg");
}

.PhilipsHueIcon_PresenceSensor {
    background: url("./PhilipsHue/motion_sensor.svg");
}
.PhilipsHueIcon_ZllSwitch {
    background: url("./PhilipsHue/hds.svg");
}
.PhilipsHueIcon_ZgpSwitch {
    background: url("./PhilipsHue/tap.svg");
}

.gardena_mower {
    background-image: url("./Gardena/sprite.png");
    background-position-x: -341.5px;
    background-position-y: -325.5px;
    background-size: 469px 448px;
    height: 30px;
    width: 30px;
}
