<!DOCTYPE html>
<html lang="en" class="full" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Xpressive.Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css" />
    <link rel="stylesheet" href="//seiyria.com/bootstrap-slider/css/bootstrap-slider.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.4.3/rzslider.min.css">
    <link rel="stylesheet" href="/Styles/Custom.min.css?v=app_ver" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.1/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.4.3/rzslider.min.js"></script>

    <script src="/app/rx.all.min.js?v=app_ver"></script>
    <script src="/app/rx.angular.min.js?v=app_ver"></script>
    <script src="/app/dashboard.min.js?v=app_ver"></script>

    <style>
        div.btn-blog ul.dropdown-menu {
            overflow: auto;
            position: fixed;
            min-width: 130px;
        }

        div.btn-blog ul.dropdown-menu li {
            text-align: center;
        }

        div.modal-content {
            background-color: #ffffff;
            background-color: rgba(255, 255, 255, .4);
        }

        div.modal-footer {
            border-top: 1px solid #bbb;
        }

        div.modal-header {
            border-bottom: 1px solid #bbb;
        }
    </style>

</head>
<body ng-app="xpressivehome" ng-controller="backgroundController as bc" ng-class="bc.selection">

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container-fluid">

                <div class="row xh-header">
                    <div class="col-sm-6 col-xs-12 xh-logo">Xpressive.Home</div>
                    <div class="col-sm-6 hidden-xs clearfix">
                        <div class="clearfix" style="float: right" ng-controller="dateTimeController as dt" ng-cloak>
                            <div class="datepart">
                                {{dt.date | date:'EEEE'}}<br />{{dt.date | date:'dd. MMMM yyyy'}}
                            </div>
                            <div class="timepart">{{dt.date | date:'HH:mm'}}&nbsp;Uhr</div>
                        </div>
                    </div>
                </div>

                <div class="row xh-footer">
                    <div class="weatherfooter">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                            <div class="row" ng-controller="weatherController as wc" ng-cloak ng-show="wc.isEnabled">
                                <div class="xh-weathericon col-xs-3" ng-repeat="fc in wc.forecast">
                                    <div>{{fc.name}}</div>
                                    <div>
                                        <span>{{fc.tempMin}}°</span>
                                        <span class="temp-max" ng-if="$index > 0">{{fc.tempMax}}°</span>
                                    </div>
                                    <div>
                                        <i ng-class="fc.icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="musicfooter" ng-controller="musicController as mc" ng-cloak ng-show="mc.isEnabled">
                        <div class="col-sm-4 col-xs-12 hidden-xs">
                            <div class="center-block clearfix" style="display: table" ng-click="mc.selectStation()">
                                <div style="position: absolute; left: 0;" ng-show="!mc.imageUrl">
                                    <button class="btn btn-default btn-lg" style="height: 55px; width: 55px;">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </button>
                                </div>
                                <div style="position: absolute; left: 0;" ng-show="mc.imageUrl">
                                    <img style="height: 55px; width: 55px;" ng-src="{{mc.imageUrl}}">
                                </div>
                                <div style="position: absolute; height: 55px; left: 60px; top: 8px;">
                                    <div>{{mc.station}}</div>
                                    <div>{{mc.playing}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6 center-block text-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-play visible-xs-inline-block" ng-click="mc.selectStation()">
                                    <span class="glyphicon glyphicon-list"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-backward">
                                    <span class="glyphicon glyphicon-backward"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-play" ng-click="mc.togglePlay()">
                                    <span class="glyphicon" ng-class="{'glyphicon-play': !mc.isPlaying, 'glyphicon-stop': mc.isPlaying}"></span>
                                </button>
                                <button type="button" class="btn btn-default btn-forward">
                                    <span class="glyphicon glyphicon-forward"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <rzslider rz-slider-model="volume" rz-slider-options="mc.sliderOptions"></rzslider>
                        </div>
                    </div>
                </div>

                <div class="row maincontent center-block" ng-controller="roomController as rc" ng-cloak>
                    <div class="col-xs-12">
                        <div id="roomdd" class="btn-group btn-blog" uib-dropdown on-toggle="rc.toggle('roomdd')">
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                <span class="selection">
                                    <h1>
                                        <span ng-class="rc.room.icon"></span>
                                    </h1>
                                    <span>{{ rc.room.name }}</span>
                                </span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role="menuitem" ng-repeat="r in rc.rooms">
                                    <a href="#" ng-click="rc.selectRoom(r)">
                                        <h1><span ng-class="r.icon"></span></h1>
                                        <span>{{ r.name }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group btn-blog" uib-dropdown ng-repeat="g in rc.groups" on-toggle="rc.toggle('g' + g.id)" id="{{ 'g' + g.id }}">
                            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                <span class="selection">
                                    <h1>
                                        <span ng-class="g.icon"></span>
                                    </h1>
                                    <span>{{ g.name }}</span>
                                </span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                <li role="menuitem" ng-repeat="s in g.scripts">
                                    <a href="#" ng-click="rc.selectScript(s)">
                                        <span>{{ s.name }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        $.fn.actualHeight = function () {
            var height = 0;

            $(this).find("li").each(function (i, s) {
                var clone = $(s).clone();
                clone.css("visibility", "hidden");
                $('body').append(clone);
                height += clone.outerHeight();
                clone.remove();
            });

            return height;
        };

    </script>

</body>
</html>
