html,
body {
  height: 100%;
}
body {
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Ubuntu';
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  /* Links */
  /* Custom default button */
  /* Extra markup and styles for table-esque vertical and horizontal centering */
  /* Padding for spacing */
}
body .container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
body div.xh-header {
  position: fixed;
  top: 0;
  left: 15px;
  width: 100%;
}
body div.xh-header div.datepart,
body div.xh-header div.timepart {
  float: left;
  text-align: right;
}
body div.xh-header div.datepart {
  padding-top: 4px;
  padding-right: 10px;
  font-size: 14px;
}
body div.xh-header div.timepart {
  font-size: 36px;
}
body div.xh-header div.xh-logo {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}
body div.xh-footer {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
  padding: 0 10px 10px 10px;
}
body div.xh-footer div.musicfooter {
  width: 100%;
}
body div.xh-footer div.musicfooter button.btn-backward,
body div.xh-footer div.musicfooter button.btn-forward,
body div.xh-footer div.musicfooter button.btn-play {
  height: 28px;
  width: 28px;
  padding: 4px 6px;
}
body div.xh-footer div.musicfooter div.rzslider {
  margin-top: 20px !important;
}
body div.xh-footer div.musicfooter div.rzslider span.rz-bar,
body div.xh-footer div.musicfooter div.rzslider span.rz-pointer {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  background-image: none;
}
body div.xh-footer div.weatherfooter {
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}
body div.xh-footer div.weatherfooter div.xh-weathericon {
  height: 110px;
  width: 25%;
  text-align: center;
}
body div.xh-footer div.weatherfooter div.xh-weathericon .wi {
  font-size: 30px;
  padding-top: 10px;
}
body div.xh-footer div.weatherfooter div.xh-weathericon span.temp-max {
  margin-left: 3px;
}
body div.maincontent {
  text-align: center;
}
body div.maincontent button {
  width: 130px;
  height: 120px;
}
body div.maincontent button .button-icon {
  font-size: 36px;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}
body a,
body a:focus,
body a:hover {
  color: #fff;
}
body .dropdown-menu > li > a,
body .dropdown-menu > li > a:active,
body .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #e8e8e8;
  background-image: none;
}
body ul.dropdown-menu {
  background-color: #e8e8e8;
  background-image: none;
}
body div.btn-group {
  padding: 5px;
}
body div.btn-blog > .btn-default,
body .btn-default,
body .btn-default:hover,
body .btn-default:focus,
body .btn-default:active,
body .btn-default:active:hover,
body .open > .dropdown-toggle.btn-default,
body .open > .dropdown-toggle.btn-default:hover,
body .open > .dropdown-toggle.btn-default:focus,
body .open > .dropdown-toggle.btn-default:active,
body .open > .dropdown-toggle.btn-default:active:hover {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  background-image: none;
}
body .site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
  color: #999;
  color: rgba(255, 255, 255, 0.5);
}
body .site-wrapper .site-wrapper-inner {
  display: block;
  vertical-align: middle;
  padding-top: 20%;
}
body .inner {
  padding: 30px;
}
body.spring-morning {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/spring_morning.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.spring-afternoon {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/spring_afternoon.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.spring-evening {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/spring_evening.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.spring-night {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/spring_night.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.summer-morning {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/summer_morning.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.summer-afternoon {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/summer_afternoon.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.summer-evening {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/summer_evening.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.summer-night {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/summer_night.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.autumn-morning {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/autumn_morning.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.autumn-afternoon {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/autumn_afternoon.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.autumn-evening {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/autumn_evening.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.autumn-night {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/autumn_night.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.winter-morning {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/winter_morning.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.winter-afternoon {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/winter_afternoon.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.winter-evening {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/winter_evening.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.winter-night {
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/winter_night.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 420px) {
  button.btn-backward,
  button.btn-forward,
  button.btn-play {
    height: 40px;
    width: 40px;
  }
  div.rzslider {
    margin-top: 25px !important;
  }
}
@media (min-width: 430px) {
  body div.site-wrapper div.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  body div.xh-header {
    padding: 10px;
  }
  body div.xh-header div.xh-logo {
    text-align: left;
    font-size: 36px;
    padding-top: 0;
    padding-left: 15px;
  }
  body div.xh-footer div.weatherfooter div.xh-weathericon {
    height: 120px;
    min-width: 110px;
  }
  body div.xh-footer div.weatherfooter div.xh-weathericon .wi {
    font-size: 60px;
    padding-top: 15px;
  }
  body div.xh-footer div.weatherfooter div.xh-weathericon span.temp-max {
    margin-left: 6px;
  }
  body div.xh-footer div.musicfooter button.btn-backward,
  body div.xh-footer div.musicfooter button.btn-forward,
  body div.xh-footer div.musicfooter button.btn-play {
    border-radius: 50% !important;
    padding: 6px 12px;
  }
  body div.xh-footer div.musicfooter button.btn-backward,
  body div.xh-footer div.musicfooter button.btn-forward {
    height: 40px;
    width: 40px;
    margin-top: 6px;
  }
  body div.xh-footer div.musicfooter button.btn-play {
    height: 55px;
    width: 55px;
    margin-left: 10px !important;
    margin-right: 10px;
  }
  body div.xh-footer div.musicfooter div.rzslider {
    margin-top: 31px !important;
  }
}