html,
body {
  height: 100%;
}
body[xh-dashboard] {
  background-color: transparent;
  background: linear-gradient(rgba(25, 25, 25, 0.5), rgba(25, 25, 25, 0.5)), url("/styles/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Ubuntu';
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  /* Links */
  /* Custom default button */
  /* Extra markup and styles for table-esque vertical and horizontal centering */
  /* Padding for spacing */
  /*
     * Header
     */
}
body[xh-dashboard] .container-fluid {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
}
body[xh-dashboard] a,
body[xh-dashboard] a:focus,
body[xh-dashboard] a:hover {
  color: #fff;
}
body[xh-dashboard] .btn-default,
body[xh-dashboard] .btn-default:hover,
body[xh-dashboard] .btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
body[xh-dashboard] .site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
}
body[xh-dashboard] .site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
body[xh-dashboard] .cover-container {
  margin-right: auto;
  margin-left: auto;
}
body[xh-dashboard] .inner {
  padding: 30px;
}
body[xh-dashboard] .mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5);
}
body[xh-dashboard] .mastfoot .inner {
  padding-bottom: 10px;
}
body[xh-dashboard] .masthead .inner {
  padding-top: 10px;
}
body[xh-dashboard] .masthead .date {
  margin: 0 !important;
}
body[xh-dashboard] .masthead .date .datetime-date {
  font-size: 14px;
  text-align: right;
  padding-right: 0;
  padding-top: 4px;
}
body[xh-dashboard] .masthead .date .datetime-time {
  font-size: 36px;
  text-align: left;
  padding-top: 0;
  padding-right: 15px;
  padding-left: 0;
}
body[xh-dashboard] .masthead-brand {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body[xh-dashboard] .masthead-nav > li {
  display: inline-block;
}
body[xh-dashboard] .masthead-nav > li + li {
  margin-left: 20px;
}
body[xh-dashboard] .masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid transparent;
}
body[xh-dashboard] .masthead-nav > li > a:hover,
body[xh-dashboard] .masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
body[xh-dashboard] .masthead-nav > .active > a,
body[xh-dashboard] .masthead-nav > .active > a:hover,
body[xh-dashboard] .masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 768px) {
  body[xh-dashboard] .masthead-brand {
    float: left;
  }
  body[xh-dashboard] .masthead-nav {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
/*
 * Affix and center
 */
@media (min-width: 768px) {
  body[xh-dashboard] {
    /* Pull out the header and footer */
    /* Start the vertical centering */
    /* Handle the widths */
  }
  body[xh-dashboard] .masthead {
    position: fixed;
    top: 0;
  }
  body[xh-dashboard] .mastfoot {
    position: fixed;
    bottom: 0;
  }
  body[xh-dashboard] .site-wrapper-inner {
    vertical-align: middle;
  }
  body[xh-dashboard] .masthead,
  body[xh-dashboard] .mastfoot,
  body[xh-dashboard] .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}