
.PhilipsHueIcon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.PhilipsHueIcon_LCT003 {
    background: url("./Icons/PhilipsHue/gu10.svg");
}

.PhilipsHueIcon_LLC020 {
    background: url("./Icons/PhilipsHue/go.svg");
}

.PhilipsHueIcon_LST001,
.PhilipsHueIcon_LST002 {
    background: url("./Icons/PhilipsHue/lightstrip.svg");
}

.PhilipsHueIcon_LWB004,
.PhilipsHueIcon_LWB006,
.PhilipsHueIcon_LTW001,
.PhilipsHueIcon_LTW010,
.PhilipsHueIcon_LTW004,
.PhilipsHueIcon_LTW015,
.PhilipsHueIcon_LCT001,
.PhilipsHueIcon_LCT010,
.PhilipsHueIcon_LCT014,
.PhilipsHueIcon_LCT007 {
    background: url("./Icons/PhilipsHue/white_and_color_e27.svg");
}

.PhilipsHueIcon_LWB014,
.PhilipsHueIcon_LWB010 {
    background: url("./Icons/PhilipsHue/white_e27.svg");
}